/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* style  change the color header */ 
.mat-mdc-header-row {
    background-color: rgb(124, 156, 226) !important;
    height: 60px !important;
}

/* change the records sizes*/
.mat-mdc-row{
    height: 30px !important;
}

/*change the color by (2 by 2)*/
.mat-mdc-row:nth-child(even){
    background-color: rgb(205, 186, 223);
    height: 30px !important;
}
